

.margin-main-search-bar {
    margin-top: 5em;
}

.margin-in-search-bar-div{
    margin-bottom: 7rem;
}

.main-search-bar {
    background-color: #ffffff00;
    border-color: #212529;
}

.margin-custom {
    margin-bottom: 1em;
}

.card-image{
    width: auto;
}

