<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!--Navbar-->
    <nav class="d-flex bd-highlight navbar navbar-light bg-light">
        <div class="p-2 flex-grow-1 bd-highlight">
            <a class="navbar-brand" href="#">
                <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
                The Hawker Rant
            </a>
        </div>
        <div class="p-2 bd-highlight">
            <a class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button">Search by preference</button>
            </a>
        </div>
        <div class="p-2 bd-highlight">
            <a class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button">Contribute stall info</button>
            </a>
        </div>
    </nav>



    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>