{% extends 'base.template.html' %}

{%block title %}
Create Stall Data
{%endblock%}

{% block content %}
<h1 class="text-center margin-custom">New stall information</h1>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 border border-1 rounded-3 card-body bg-light">
            <form method="POST">
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Hawker Centre</label>
                    <div class="col-sm-9">
                        <select class="form-select {% if errors.hawker_centre %} is-invalid {%endif%}"
                            aria-label="Default select example" name="hawker_centre">
                            <option value="{{old_values.hawker_centre}}"></option>
                            {%for hawker in all_hawker %}
                            <option value="{{hawker.name}}">{{hawker.name}}</option>
                            {%endfor%}
                        </select>
                        {% if errors.hawker_centre %}
                        <div class="invalid-feedback">
                            {{errors.hawker_centre}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Stall Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control {% if errors.stall_name %} is-invalid {%endif%}"
                            name="stall_name" value="{{old_values.stall_name}}">
                        {% if errors.stall_name %}
                        <div class="invalid-feedback">
                            {{errors.stall_name}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Specialty Dish</label>
                    <div class="col-sm-9">
                        <input class="form-control {% if errors.specialty %} is-invalid {%endif%}" list="dishOptions"
                            name="specialty" value="{{old_values.specialty}}">
                        <datalist id="dishOptions">
                            <option value="carrot cake">
                            <option value="char kway teow">
                            <option value="chicken chop">
                            <option value="chicken rice">
                            <option value="economy rice">
                            <option value="fish and chips">
                            <option value="hokkien noodle">
                            <option value="laksa">
                            <option value="mee goreng">
                            <option value="nasi lemak">
                            <option value="nasi padang">
                            <option value="prawn noodle">
                            <option value="rojak">
                            <option value="roti prata">
                            <option value="satay">
                        </datalist>
                        {% if errors.specialty %}
                        <div class="invalid-feedback">
                            {{errors.specialty}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Unit No.</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control {% if errors.unit_no %} is-invalid {%endif%}"
                            name="unit_no" value="{{old_values.unit_no}}">
                        {% if errors.unit_no %}
                        <div class="invalid-feedback">
                            {{errors.unit_no}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Opening Hours</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control {% if errors.opening_hours %} is-invalid {%endif%}" name="opening_hours" value="{{old_values.opening_hours}}">
                        {% if errors.opening_hours %}
                        <div class="invalid-feedback">
                            {{errors.opening_hours}}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Create" />
            </form>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

</div>
{% endblock %}