{% extends 'base.template.html' %}

{%block title %}
Create Stall Data
{%endblock%}

{% block content %}
<h1>This is the page to create new stall data</h1>
<div class="container">
    <form method="POST">
        <div class="row mb-3">
            <label for="inputStallName" class="col-sm-2 col-form-label">Stall Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputStallName">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Stall Grading</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="grade-a">A</option>
                    <option value="grade-b">B</option>
                    <option value="grade-c">C</option>
                    <option value="grade-d">D</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAddress">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Area</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="north">North</option>
                    <option value="south">South</option>
                    <option value="east">East</option>
                    <option value="west">West</option>
                    <option value="central">Central</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEstate" class="col-sm-2 col-form-label">Estate</label>
            <div class="col-sm-10">
                <input class="form-control" list="estateOptions" id="inputEstate" placeholder="Type to search...">
                <datalist id="estateOptions">
                    <option value="Aljunied">
                    <option value="Ang Mo Kio">
                    <option value="Bedok">
                    <option value="Bishan">
                    <option value="Bukit Batok">
                    <option value="Bukit Merah">
                    <option value="Bukit Panjang">
                    <option value="Bukit Timah">
                    <option value="Central Area">
                    <option value="Choa Chu Kang">
                    <option value="Clementi">
                    <option value="Eunos">
                    <option value="Geylang">
                    <option value="Hougang">
                    <option value="Jurong East">
                    <option value="Jurong West">
                    <option value="Kallang/Whampoa">
                    <option value="Kembangan">
                    <option value="Lim Chu Kang">
                    <option value="Marine Parade">
                    <option value="Pasir Ris">
                    <option value="Punggol">
                    <option value="Queenstown">
                    <option value="Sembawang">
                    <option value="Sengkang">
                    <option value="Serangoon">
                    <option value="Simei">
                    <option value="Tampines">
                    <option value="Toa Payoh">
                    <option value="Ubi">
                    <option value="Woodlands">
                    <option value="Yio Chu Kang">
                    <option value="Yishun">
                </datalist>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Cuisine</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="chinese">Chinese</option>
                    <option value="malay">Malay</option>
                    <option value="indian">Indian</option>
                    <option value="western">Western</option>
                    <option value="international">International</option>
                    <option value="beverages">Beverages</option>
                    <option value="dessert">Dessert</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputSpecialtyDish-1" class="col-sm-2 col-form-label">Specialty Dish 1</label>
            <div class="col-sm-10">
                <input class="form-control" list="dishOptions-1" id="inputSpecialtyDish-1"
                    placeholder="Type to search...">
                <datalist id="dishOptions-1">
                    <option value="carrot cake">
                    <option value="char kway teow">
                    <option value="chicken chop">
                    <option value="chicken rice">
                    <option value="economy rice">
                    <option value="fish and chips">
                    <option value="hokkien noodle">
                    <option value="laksa">
                    <option value="mee goreng">
                    <option value="nasi lemak">
                    <option value="nasi padang">
                    <option value="prawn noodle">
                    <option value="rojak">
                    <option value="roti prata">
                    <option value="satay">
                </datalist>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputSpecialtyDish-2" class="col-sm-2 col-form-label">Specialty Dish 2</label>
            <div class="col-sm-10">
                <input class="form-control" list="dishOptions-2" id="inputSpecialtyDish-2"
                    placeholder="Type to search...">
                <datalist id="dishOptions-2">
                    <option value="carrot cake">
                    <option value="char kway teow">
                    <option value="chicken chop">
                    <option value="chicken rice">
                    <option value="economy rice">
                    <option value="fish and chips">
                    <option value="hokkien noodle">
                    <option value="laksa">
                    <option value="mee goreng">
                    <option value="nasi lemak">
                    <option value="nasi padang">
                    <option value="prawn noodle">
                    <option value="rojak">
                    <option value="roti prata">
                    <option value="satay">
                </datalist>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputSpecialtyDish-3" class="col-sm-2 col-form-label">Specialty Dish 3</label>
            <div class="col-sm-10">
                <input class="form-control" list="dishOptions-3" id="inputSpecialtyDish-3"
                    placeholder="Type to search...">
                <datalist id="dishOptions-3">
                    <option value="carrot cake">
                    <option value="char kway teow">
                    <option value="chicken chop">
                    <option value="chicken rice">
                    <option value="economy rice">
                    <option value="fish and chips">
                    <option value="hokkien noodle">
                    <option value="laksa">
                    <option value="mee goreng">
                    <option value="nasi lemak">
                    <option value="nasi padang">
                    <option value="prawn noodle">
                    <option value="rojak">
                    <option value="roti prata">
                    <option value="satay">
                </datalist>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}