{% extends 'base.template.html' %}

{%block title %}
The Hawker Rant
{%endblock%}

{% block content %}
<h1>This is the home page</h1>

<div class="container">
    <form class="container">
        <label>Search for a hawker stall by name</label>
        <div class="row">
            <div class="col-10">
                <input class="form-control form-control-lg" type="text" placeholder="Search..." aria-label="search for stall name">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
        </div>
    </form>
    <h1>or</h1>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>Filter by search preference</h1>
            </div>
            <div class="col-2">
                <a href="{{url_for('show_all_stalls')}}"><button class="btn btn-primary mb-3">Go</button></a>
            </div>
        </div>
    </div>
    


</div>

{% endblock %}