{% extends 'base.template.html' %}

{%block title %}
The Hawker-rant
{%endblock%}

{% block content %}
<style>
    body {
        background-image: url('/static/images/home_banner.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="container margin-main-search-bar">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="container margin-in-search-bar-div">
                <form method="POST">
                    <label class="col-form-label">
                        <h1><b>Search for a stall by Hawker Centre</b></h1>
                    </label>
                    <div class="row margin-custom">
                        <div class="col-sm-10">
                            <select
                                class="form-select main-search-bar {% if errors.hawker_centre %} is-invalid {%endif%}"
                                aria-label="Default select example" name="hawker_centre_search">
                                <option></option>
                                {%for hawker in all_hawker %}
                                <option value="{{hawker.name}}">{{hawker.name}}</option>
                                {%endfor%}
                            </select>
                            {% if errors.hawker_centre %}
                            <div class="invalid-feedback">
                                {{errors.hawker_centre}}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" class="btn btn-primary" value="Search" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="text-start"><b>Or search by preference</b></h4>
                    </div>
                    <div class="col-sm-6 d-flex align-self-start">
                        <a href="{{url_for('filter_stall')}}" class="btn btn-primary text-left">Go</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>






{% endblock %}