{% extends 'base.template.html' %}

{%block title %}
The Hawker-rant
{%endblock%}

{% block content %}

<img src="/static/images/home_banner.png" class="img-fluid" alt="lau pa sat">

<div class="container">
    <div class="container add-space">
        <form method="GET">
            <label class="col-form-label">
                <h1>Search for a hawker stall</h1>
            </label>
            <div class="row">
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" name="stall_name_search">
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Search" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <h4 class="text-left">Or filter by search preference</h4>
            </div>
            <div class="col-8 d-flex align-items-center">
                <a href="{{url_for('show_all_stalls')}}"><button class="btn btn-primary text-left">Go</button></a>
            </div>
        </div>
    </div>






    {% endblock %}