{% extends 'base.template.html' %}

{%block title %}
The Hawker Rant
{%endblock%}

{% block content %}

<form class="container border border-1 rounded-3 card-body bg-light" method="POST">
    <h4 class="margin-custom">Edit review</h4>
    <div class="row mb-3">
        <label class="form-label col-sm-1">Username</label>
        <div class="col-sm-3">
            <input type="text" class="form-control col-sm-10 {% if errors.user_name%} is-invalid {%endif%}" name="user_name" value="{% if old_values.user_name %}{{old_values.user_name}}{% else %}{{review.user_name}}{%endif%}">
            {% if errors.user_name %}
            <div class="invalid-feedback">
                {{errors.user_name}}
            </div>
            {% endif %}
        </div>
        <div class="col-sm-8">
        </div>
    </div>
    <div class="row mb-3">
        <label class="form-label col-sm-1">Comments</label>
        <div class="col-sm-9">
            <textarea class="form-control {% if errors.comment%} is-invalid {%endif%}" name="comment" rows="3">{% if old_values.comment %}{{old_values.comment}}{% else %}{{review.comment}}{%endif%}</textarea>
            {% if errors.comment %}
            <div class="invalid-feedback">
                {{errors.comment}}
            </div>
            {% endif %}
        </div>
        <div class="col-sm-2 align-self-end d-flex justify-content-end">
            <input type="submit" class="btn btn-primary" value="Update review" />
        </div>
    </div>
</form>

{% endblock %}